---
import Container from "@components/atoms/Container.astro";
import Navbar from "@components/widgets/Navbar.astro";
import Layout from "@layouts/Layout.astro";

const { item } = Astro.props;

const url = Astro.url.pathname;
---

<Layout
  description={item.frontmatter.title}
  date={item.frontmatter.date}
  url={`https://xhyrom.dev${url}`}
>
  <Navbar />
  <div class="w-full py-32">
    <div class="flex flex-col items-center justify-center gap-2">
      <h1 class="text-5xl font-extrabold text-white">
        {item.frontmatter.title}
      </h1>
      <h2 class="text-2xl font-semibold text-white text-opacity-40">
        {
          new Date(item.frontmatter.date).toLocaleDateString("en-us", {
            year: "numeric",
            month: "short",
            day: "numeric",
          })
        }
      </h2>
    </div>
  </div>

  <Container class="prose prose-invert content-center justify-center text-2xl">
    <article>
      <slot />
    </article>
  </Container>
</Layout>
