---
import Container from "@components/atoms/Container.astro";
import Navbar from "@components/widgets/Navbar.astro";
import Layout from "@layouts/Layout.astro";

const { item } = Astro.props;

const url = Astro.url.pathname;
---

<Layout description={item.frontmatter.title} date={item.frontmatter.date} url={`https://xhyrom.dev${url}`}>
  <Navbar />
  <h1 class="w-full py-32 text-center text-5xl font-extrabold text-white">
    {item.frontmatter.title}
  </h1>

  <Container class="prose prose-invert text-2xl content-center justify-center">
    <article>
      <slot />
    </article>
  </Container>
</Layout>
