---
import PostHead from "../../components/widgets/blog/PostHead.astro";
import Container from "../../components/atoms/Container.astro";
import Navbar from "../../components/widgets/Navbar.astro";
import Layout from "../Layout.astro";

export interface Props {
  content: {
    title: string;
    date: string;
  };
}

const {
  content: { title, date },
} = Astro.props;
---

<Layout head={PostHead} title={title} date={date}>
  <Navbar />
  <h1 class="w-full py-32 text-center text-5xl font-extrabold text-white">
    {title}
  </h1>

  <Container>
    <main class="prose text-2xl text-white">
      <article>
        <slot />
      </article>
    </main>
  </Container>
</Layout>
