---
import { docs, type Sidebar } from "@docs/config";
const { currentPage } = Astro.props;
const currentPageMatch = currentPage.slice(1);

const isCurrentPage = (item: Sidebar) => {
  if (item.link) {
    return item.link.includes(currentPageMatch);
  }
  return false;
};

const getLinkClasses = (link: Sidebar) => {
  const baseClasses = "py-1 px-6 my-1 transition-colors border-l -ml-px pl-4";

  if (isCurrentPage(link)) {
    return baseClasses + " border-gold text-gold";
  } else {
    return (
      baseClasses + " border-transparent text-gray-100 hover:text-gray-200"
    );
  }
};
---

<aside title="Site Navigation">
  <div class="absolute z-10 text-white md:hidden">
    <button id="sidebar-show" class="p-4 pl-2">
      <span class="sr-only">sidebar menu</span>
      <img
        src={"/icons/chevrons-right.svg"}
        alt="sidebar hamburger menu icon"
        id="open-arrow"
        class="h-6 w-6 duration-200"
      />
    </button>
  </div>
  <nav
    id="sidebar"
    aria-labelledby="grid-left"
    class="bg-dark-r w-64 -translate-x-full p-4 transition-transform duration-200 md:visible md:translate-x-0 md:bg-transparent"
  >
    <ul class="border-l border-dark-300">
      {
        docs.sidebar.map((item) =>
          item.header ? (
            <li class="mt-4 pl-4 font-semibold text-white">{item.text}</li>
          ) : (
            <li class={getLinkClasses(item)}>
              <a href={item.link}>{item.text}</a>
            </li>
          )
        )
      }
    </ul>
  </nav>
</aside>

<script is:inline>
  window.addEventListener("DOMContentLoaded", (event) => {
    var target = document.querySelector('[aria-current="page"]');
    if (target && target.offsetTop > window.innerHeight - 100) {
      document.querySelector(".nav-groups").scrollTop = target.offsetTop;
    }
  });
</script>
