---
import TableOfContents from "./TableOfContents.astro";
const { item } = Astro.props;

const headings = item.getHeadings();
---

{
  headings.length > 1 && (
    <nav aria-labelledby="grid-right" class="invisible md:visible">
      <div class="px-8">
        <TableOfContents headings={headings} />
      </div>
    </nav>
  )
}
