---
import TableOfContents from "./TableOfContents";

const { item } = Astro.props;

interface Props {
  item: {
    getHeadings: () => {
      depth: number;
      slug: string;
      text: string;
    }[];
  };
}

const headings = item
  .getHeadings()
  .filter(({ depth }) => depth > 1 && depth < 4);
---

{
  headings.length > 1 && (
    <nav aria-labelledby="grid-right" class="invisible p-4 md:visible">
      <div class="pl-8">
        <TableOfContents headings={headings} client:idle />
      </div>
    </nav>
  )
}
