---
import Socials from "./Socials.astro";
import { Image } from "@astrojs/image/components";
import logo from "../../../assets/logo.png";
import Name from "./Name.astro";
---

<main
    class="mt-24 flex flex-col items-center justify-center md:mt-64 md:flex-row"
>
    <div class="justify-cener flex items-center">
        <Image src={logo} width={200} height={200} alt="descriptive text" />
    </div>
    <section class="text-center md:ml-6 md:text-left">
        <Name />
        <Socials />
    </section>
</main>
