---
const socials = [
  {
    name: "GitHub",
    link: "https://github.com/xHyroM/",
    icon: "github.svg",
  },
  {
    name: "Discord.svg",
    link: "https://discord.com/invite/kFPKmEKeMS/",
    icon: "discord.svg",
  },
  {
    name: "Twitter",
    link: "https://twitter.com/hyrousek/",
    icon: "twitter.svg",
  },
  {
    name: "Instagram",
    link: "https://www.instagram.com/hyro.dev/",
    icon: "instagram.svg",
  },
  {
    name: "ko-fi",
    link: "https://ko-fi.com/xhyrom",
    icon: "ko-fi.png",
  },
];
---

<ul class="my-5 flex justify-center text-white md:justify-start">
  {
    socials.map((social) => (
      <li class="mr-4 ">
        <a class="h-10 w-10" href={social.link} title={social.name}>
          <img
            class="h-8 w-8 transition-all hover:-translate-y-1"
            src={`/icons/${social.icon}`}
            alt={`${social.name} icon`}
          />
        </a>
      </li>
    ))
  }
</ul>
