<div class="fireworks-container absolute top-0 left-0 z-[-1000] h-full w-full">
</div>

<script>
  import { Fireworks } from "fireworks-js";

  export const fireworksContainer = document.querySelector<HTMLDivElement>(
    ".fireworks-container"
  )!;

  const fireworks = new Fireworks(fireworksContainer, {
    rocketsPoint: {
      min: 0,
      max: 100,
    },
    autoresize: true,
  });
  fireworks.start();
</script>
