---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/widgets/Navbar.astro";
import Container from "../../components/atoms/Container.astro";

const posts = (await Astro.glob('./posts/*.md')).sort(
	(a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()
);
---

<Layout>
    <Navbar />
    <h1 class="text-white text-5xl w-full text-center py-32 font-extrabold">
        Blog
    </h1>

    <Container>
        <main>
            {posts.map(post => {
                return (
                    <a class="text-2xl font-bold text-white mb-4 break-all" href={post.url}>{post.frontmatter.title}</a>
                    <p class="text-1xl text-white italic mb-4 break-all">
                        {new Date(post.frontmatter.date).toLocaleDateString('en-us', {
                            year: 'numeric',
                            month: 'short',
                            day: 'numeric',
                        })}
                    </p>
                    <hr class="text-gray" />
                )
            })}
        </main>
    </Container>
</Layout>
