---
import Container from "../atoms/Container.astro";

const navItems = [
    {
        name: "Home",
        link: "/",
    },
    {
        name: "Projects",
        link: "/projects",
    },
    {
        name: "Docs",
        link: "/docs",
    },
];
---

<header class="text-white text-xl h-16 border-b-[1px] border-neutral-800">
    <Container
        class="flex justify-around md:justify-between items-center h-full"
    >
        <a class="font-extrabold text-2xl" href="/">xHyroM</a>
        <nav>
            <ul class="gap-10 hidden md:flex">
                {
                    navItems.map((item) => (
                        <li class=" hover:-translate-y-[2px] transition-all">
                            <a
                                href={item.link}
                                class="hover:text-[#fbc119] text-neutral-300"
                            >
                                {item.name}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </nav>
        <button
            ><span class="sr-only">menu</span><img
                src="/icons/menu.svg"
                alt="hambuerger menu icon"
            />
        </button>
    </Container>
</header>
