---
import Container from "../atoms/Container.astro";

const navItems = [
    {
        name: "Home",
        link: "/",
    },
    {
        name: "Projects",
        link: "/projects",
    },
    {
        name: "Blog",
        link: "/blog",
    },
    {
        name: "Docs",
        link: "/docs",
    },
];
---

<header class="text-white text-xl h-16 border-b-[1px] border-neutral-800">
    <Container
        class="flex justify-around md:justify-between items-center h-full"
    >
        <a class="font-extrabold text-2xl" href="/">xHyroM</a>
        <nav>
            <ul
                class="absolute top-0 left-0 md:relative nav-links gap-10 md:flex hidden md:flex-row bg-gray md:bg-transparent w-full [&_li]:my-2 [&_li]:ml-4 border-b-[1px] md:border-b-0 border-neutral-800 transition-all"
            >
                {
                    navItems.map((item) => (
                        <li class=" hover:-translate-y-[2px] transition-all">
                            <a
                                href={item.link}
                                class="hover:text-[#fbc119] text-neutral-300"
                            >
                                {item.name}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </nav>
        <button class="hamburger md:hidden block">
            <span class="sr-only">menu</span>
            <img src="/icons/menu.svg" alt="hambuerger menu icon" />
        </button>
        <button class="hamburger-close md:hidden hidden z-30">
            <span class="sr-only">menu</span>
            <img src="/icons/x.svg" alt="hambuerger menu icon" />
        </button>
    </Container>
</header>
