---
/**
 * @license
 * Copyright (c) 2022 Jozef Steinhübl
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see <https://www.gnu.org/licenses/>.
 */

import Container from "@components/atoms/Container.astro";
import Navbar from "@components/widgets/Navbar.astro";
import TechIcon from "@components/widgets/TechIcon.astro";
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
import me from "@assets/me.png";
import { SKILLS } from "~/config";
---

<Layout
  title="xHyroM - About Me"
  schemaOrg={{
    "@context": "https://schema.org/",
    "@type": "Person",
    name: "xHyroM",
    url: "https://xhyrom.dev",
    image: "https://xhyrom.dev/favicon.ico",
    sameAs: [
      "https://twitter.com/hyrousek",
      "https://instagram.com/hyro.dev",
      "https://github.com/xHyroM",
      "https://ko-fi.com/xhyrom",
      "https://www.chess.com/member/Hyriik",
      "https://reddit.com/u/xHyroM",
      "https://wakatime.com/@xhyrom",
    ],
    jobTitle: "Developer",
  }}
>
  <Navbar />
  <h1
    class="w-full py-20 lg:py-32 text-center text-5xl font-extrabold text-white"
  >
    About Me
  </h1>

  <Container class="pb-4">
    <main class="text-2xl text-white">
      <section class="flex flex-col lg:flex-row items-center">
        <Image
          src={me}
          alt="me"
          width={375}
          class="rounded-full mb-4 lg:mb-0 lg:mr-8 h-[250px] w-[250px]"
        />

        <div>
          <p class="mb-4">
            Hey, my name is <span class="text-gold-500">Jozef Steinhübl</span> ("bl"
            - not "bel", I'm not a bell), alias <span class="text-gold-500"
              >Hyro, xHyroM, or general_kubo
            </span>. I am <span class="text-gold-500">15</span> years old developer
            with a passion for creating innovative solutions, and I am currently
            engaged in various projects. Most of my work is open-source and on <a
              class="text-gold-500"
              href="https://github.com/xHyroM">GitHub</a
            >. You can also check <a class="text-gold-500" href="/projects"
              >Projects</a
            > page on this website.
          </p>

          <p class="mb-4">
            Apart from my open-source projects, I'm working/have also worked on
            other notable projects such as <a
              class="text-gold-500"
              href="https://rajce.pro">rajce.pro</a
            >, <a class="text-gold-500" href="https://lendmark.sk">LendMark</a>, <a
              class="text-gold-500"
              href="https://discord.com/api/oauth2/authorize?client_id=720321585625694239&permissions=8&scope=applications.commands%20bot"
              >Mr. Infinity</a
            >, <a
              class="text-gold-500"
              href="http://github.com/xHyroM/roles-bot">Roles Bot</a
            > and for different youtubers. My keen interest in the latest technologies
            motivates me to contribute to diverse projects on Github, where I hone
            my skills and expand my knowledge base.
          </p>
        </div>
      </section>

      <section>
        <h1 class="w-full py-10 text-center text-4xl font-extrabold text-white">
          Technology
        </h1>

        <div class="mb-4">
          <p class="mb-4">
            Below you can see the technologies I work with and use frequently.
          </p>

          <ul
            class="mx-auto mb-4 flex w-fit flex-wrap items-center justify-center rounded-md border border-neutral-800"
          >
            {
              SKILLS.map((skill) => (
                <TechIcon
                  icon={skill.icon}
                  color={skill.color}
                  name={skill.name}
                />
              ))
            }
          </ul>

          I'm still learning with some things like Go and Rust, so I don't know
          them perfectly, but I've included them in this list anyway.
        </div>

        <p class="mb-4">
          Continuous learning is an essential aspect of my professional journey,
          and while I do not claim to be a master of any programming language,
          my expertise in various languages is continually evolving. As a
          contributor and moderator for the <a
            class="text-gold-500"
            href="https://bun.sh">Bun</a
          > project, I collaborated with my friend <a
            class="text-gold-500"
            href="https://github.com/Fire-The-Fox">@FireTheFox</a
          > to develop a native implementation of the <a
            class="text-gold-500"
            href="https://github.com/oven-sh/bun/pull/1115">node:os module</a
          >.
        </p>

        <p class="my-4">
          My passion for learning and staying up-to-date with the latest
          technologies motivates me to take on new challenges and contribute to
          diverse projects.
        </p>
      </section>
    </main>
  </Container>
</Layout>
