---
import Layout from "../layouts/Layout.astro";
import { Image, Picture } from "@astrojs/image/components";
---

<Layout title="Welcome to Astro.">
    <main
        class="h-screen flex justify-center items-center pointer-events-none cursor-none"
    >
        <Image
            src={import("../public/logo.png")}
            width={200}
            height={200}
            alt="descriptive text"
        />
        <h1>xHyroM</h1>
    </main>
</Layout>
