---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/widgets/Hero.astro";

import Navbar from "../components/widgets/Navbar.astro";
import Container from "../components/atoms/Container.astro";
---

<Layout>
    <Navbar />
    <h1 class="text-white text-5xl w-full text-center py-32 font-extrabold">
        Projects
    </h1>

    <main class="flex gap-14 justify-center flex-wrap">
        <section class="w-96 bg-neutral-900 p-6 rounded-md">
            <h2 class="text-3xl font-bold text-white mb-4">Projects</h2>
            <p class="text-white">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                tincidunt, nisl eget aliquam tincidunt, nisl elit aliquam
                tortor, eget aliquam nisl elit non nisl. Sed tincidunt, nisl
                eget aliquam tincidunt, nisl elit aliquam tortor, eget aliquam
                nisl elit non nisl.
            </p>
        </section>
    </main>
</Layout>
