---
/**
 * @license
 * Copyright (c) 2022 Jozef Steinhübl
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see <https://www.gnu.org/licenses/>.
 */
---

<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />

    <title>contact@xhyrom.dev</title>
    <meta name="robots" content="noindex,nofollow" />
  </head>
  <body class="p-8">
    <table
      class="w-[440px] border-collapse border-spacing-0 font-mono text-base"
      role="presentation"
    >
      <tbody>
        <tr>
          <td>
            <table
              class="mb-2.5 w-auto border-collapse border-spacing-0"
              role="presentation"
            >
              <tbody>
                <tr>
                  <td class="border-r-[3px] border-[#ffc021] pr-5 align-top">
                    <img
                      src="https://avatars.githubusercontent.com/u/56601352?v=4"
                      alt="Jozef Steinhübl"
                      class="block h-[90px] max-w-[134px] rounded-full border-none bg-white object-contain p-[3px] text-decoration-none shadow-md outline-none"
                    />
                  </td>
                  <td class="pl-5 align-top">
                    <h3 class="m-0 text-lg font-bold leading-7 text-[#ffc021]">
                      Jozef Steinhübl
                    </h3>
                    <table
                      class="w-auto border-collapse border-spacing-0"
                      role="presentation"
                    >
                      <tbody>
                        <tr>
                          <td class="pr-1 align-middle">
                            <div class="h-[14px] text-yellow-400">
                              <img
                                class="h-[14px] w-[14px]"
                                src="/icons/signatures/mdi--email-outline.png"
                              />
                            </div>
                          </td>
                          <td class="align-middle">
                            <p class="m-0 text-xs leading-loose">
                              <a
                                href="mailto:jozef@steinhubl.com"
                                class="text-[#333] no-underline"
                                >jozef@steinhubl.com</a
                              >
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table
                      class="w-auto border-collapse border-spacing-0"
                      role="presentation"
                    >
                      <tbody>
                        <tr>
                          <td class="pr-1 align-middle">
                            <div class="h-[14px]">
                              <img
                                class="h-[14px] w-[14px]"
                                src="/icons/signatures/gg--phone.png"
                              />
                            </div>
                          </td>
                          <td class="align-middle">
                            <p class="m-0 text-xs leading-loose">
                              <a
                                href="tel:+421904168083"
                                class="text-[#333] no-underline"
                                >+421 904 168 083</a
                              >
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>

            <table
              class="w-auto border-collapse border-spacing-0"
              role="presentation"
            >
              <tbody>
                <tr>
                  <td class="pr-1 align-middle">
                    <div class="h-[14px]">
                      <img
                        class="h-[14px] w-[14px]"
                        src="/icons/signatures/mdi--web.png"
                      />
                    </div>
                  </td>
                  <td class="pr-4 align-middle">
                    <p class="m-0 text-xs leading-loose">
                      <a
                        href="https://xhyrom.dev"
                        target="_blank"
                        class="text-[#333] no-underline">xhyrom.dev</a
                      >
                    </p>
                  </td>

                  <td class="pr-1 align-middle">
                    <div class="h-[14px] text-yellow-400">
                      <img
                        class="h-[14px] w-[14px]"
                        src="/icons/signatures/mdi--web.png"
                      />
                    </div>
                  </td>
                  <td class="align-middle">
                    <p class="m-0 text-xs leading-loose">
                      <a
                        href="https://links.xhyrom.dev"
                        target="_blank"
                        class="text-[#333] no-underline">links.xhyrom.dev</a
                      >
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>

            <table
              class="mt-2.5 w-auto border-collapse border-spacing-0"
              role="presentation"
            >
              <tbody>
                <tr>
                  <td class="pr-2.5">
                    <a
                      href="https://linkedin.com/in/jozefsteinhubl"
                      target="_blank"
                      class="block no-underline"
                    >
                      <div class="h-[22px] w-[22px] rounded-[4px] text-white">
                        <img
                          class="h-[22px] w-[22px] rounded-[4px]"
                          src="/icons/signatures/skill-icons--linkedin.png"
                        />
                      </div>
                    </a>
                  </td>
                  <td>
                    <a
                      href="https://github.com/xhyrom"
                      target="_blank"
                      class="block no-underline"
                    >
                      <div class="h-[22px] w-[22px] rounded-[4px] text-white">
                        <img
                          class="h-[22px] w-[22px] rounded-[4px]"
                          src="/icons/signatures/skill-icons--github-dark.png"
                        />
                      </div>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
